<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title | default: "Friends of Beckton Parks" }}</title>
  <meta name="description" content="{{ site.description | default: 'The Group aims to protect, enhance, and promote Beckton Parks as a valuable green space for the community while ensuring inclusion, diversity, and equality in all its efforts.' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="stylesheet" href="/css/style.css">
  {% include head-custom.html %}
</head>
<body>

  <header>
    <img src="/assets/images/logo.jpeg" alt="Friends of Beckton Parks logo" class="logo">
    <h1>{{ site.title | default: "Friends of Beckton Parks" }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="/parks">The Parks</a></li>
        <li><a href="/directory">The Directory</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Contact us at: <a href="mailto:fobpdrive@gmail.com">fobpdrive@gmail.com</a></p>
  </footer>

</body>
</html>


